*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background-color: rgb(246, 239, 246);
}
.nav-bar .navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  height: 60px;
  background-color: white;
}
.nav-light{
    list-style: none;
    font-size: 25px;
    font-weight: bold;
}
.nav-list{
    list-style: none;
}
.service{
    width: 120px;
    height: 40px;
    border: none;
}
.icon{
    display: flex;
    gap: 10px;
}
.nav-icon{
    list-style: none;
    position: relative;
    background-color: red;
    border-radius: 50%;
    padding-left: 2px ;
    padding-right: 2px;
    color: white;
    font-size: 10px;
    width:10px;
    z-index: 1000;
    height: max-content;
}
button.nav-list{
    background-color: white;
    width: 100px;
    color: rgb(82, 2, 82);
    border: 1px solid rgb(141, 138, 138);
    border-radius: 5px;
    padding: 5px;
}
.nav-icons{
    margin-top: 10px;
    color: rgb(61, 3, 61);
    font-size: 18px;
    top: 0;
    position: absolute;
    right: 4px;
}
.nav-m{
    list-style: none;
}
button.nav-link{
    background-color: white;
    border: 1px solid rgb(59, 57, 57);
    border-radius: 5px;
}
.nav-link{
    width: 150px;
    height: 40px;
    gap: 10px;
    padding-right: 5px;
}
.red{
    background-color: rgb(109, 5, 109);
    color: white;
    width: 20px;
    border-radius: 50%;
    font-size: 12px;
    padding: 8px;
    margin-left: 5px;
}
.down-icon{
    background: none;
}